body {
  background-color: white;
}

.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

button {
  margin: 5px;
}

.text {
  margin: 10px;
  color: black;
}

.yes-button {
  background-color: green;
}

.no-button {
  background-color: red;
}
